{% extends 'store/base.html' %} {% block body %} {% load crispy_forms_tags %}
<div class="row">
  <div class="col-sm-3 mt-5">
    <div class="card">
      <h4 class="card-header">Filter Search</h4>
      <form action="" method="post" class="card-body" novalidate>
        {% csrf_token %} {{form|crispy}}
        <button class="btn btn-success mb-3" style="display: block; width: 100%">Search item</button>
        <a href="{% url 'add' %}" class="btn btn-success mb-3" style="display: block; width: 100%">Add item</a>
        <a href="{% url 'history' %}" class="btn btn-success" style="display: block; width: 100%">List History</a>
      </form>
    </div>
  </div>
  <div class="col-sm-9">
    <h3 class="text-center">List Items</h3>
    <table class="table table-bordered table-dark table-sm table-hover mt-3">
  </div>
</div>

  <thead>
    <tr>
      <th scope="col">ITEM NO</th>
      <th scope="col">SIZE</th>
      <th scope="col">COLOR</th>
      <th scope="col">QTTY</th>
      <th scope="col">ACTION</th>
      <th scope="col">Reorder-LEVEL</th>
    </tr>
  </thead>
  <tbody>
    {% if queryset %}
    {% for instance in queryset %}
    <tr>
      <td>{{instance.item_no}}</td>
      <td>{{instance.size}}</td>
      <td>{{instance.color}}</td>
      <td>
        {% if instance.quantity <= instance.reorder_level %}
        <h5>
          <span class="badge badge-warning">{{instance.quantity}}</span>
        </h5>
        {% elif instance.quantity <= 10 %}
        <h5>
          <span class="badge badge-danger">{{instance.quantity}}</span>
        </h5>
        {% else %}{{instance.quantity}} {% endif %}
      </td>
      <td>
        <a href="{% url 'detail' instance.id %}" class="btn btn-sm btn-light"
          >view</a
        >
        <a href="{% url 'update' instance.id %}" class="btn btn-sm btn-light"
          >update</a
        >
        <a href="{% url 'delete' instance.id %}" class="btn btn-sm btn-light"
          >del</a
        >
      </td>
      <td>
        <a href="{% url 'reorder' instance.id %}">{{instance.reorder_level}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h1 class="text-center text-danger">...No Results...</h1>
{% endif %}

{% endblock body %}
