body {
  /* background-image: url('../img/bg.jpg');
  background-position: cover; */
  background-color: rgb(221, 190, 147);
}

nav {
  background: blue;
}

.card {
  background-color: antiquewhite;
}
